{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <p>Consultar cliente</p>

    <form method="POST">
        {% csrf_token %}
        {{ busca_cliente_form.non_field_errors }}
        {{ busca_cliente_form|crispy }}

        <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </form>

    <ul>
        {% for cliente in lista_cliente %}
            <li>
                {{ cliente }} - <a href="{% url 'editar_cliente' cliente.pk %}">Editar</a> - <a href=" {% url 'deletar_cliente' cliente.pk %}">Deletar</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}